*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
height:100vh;
background:linear-gradient(135deg,#4e73df,#1cc88a);
}

.hidden{
display:none !important;
}

/* AUTH */

.card{
width:95%;
max-width:400px;
background:white;
padding:30px;
border-radius:14px;
box-shadow:0 10px 25px rgba(0,0,0,0.25);
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

.card input{
width:100%;
padding:14px;
margin-bottom:14px;
border-radius:8px;
border:1px solid #ccc;
font-size:16px;
}

.card button{
width:100%;
padding:14px;
border:none;
background:#4e73df;
color:white;
border-radius:8px;
font-size:16px;
}

/* MAIN */

#mainApp{
height:100vh;
display:flex;
flex-direction:column;
}

/* SIDEBAR */

.sidebar{
width:100%;
max-width:320px;
background:white;
padding:18px;
overflow-y:auto;
}

.sidebar div{
padding:14px;
margin-bottom:8px;
background:#f2f2f2;
border-radius:10px;
cursor:pointer;
font-size:16px;
}

.sidebar button{
width:100%;
margin-top:15px;
padding:12px;
border:none;
background:#e74a3b;
color:white;
border-radius:8px;
}

/* CHAT */

.chatArea{
flex:1;
display:flex;
flex-direction:column;
background:white;
}

#chatHeader{
padding:16px;
background:#4e73df;
color:white;
font-size:18px;
}

#messages{
flex:1;
padding:15px;
overflow-y:auto;
background:#ece5dd;
display:flex;
flex-direction:column;
}

/* MY MESSAGE */

.my-message{
background:#25d366;
color:#000000;   /* কালো লেখা */
padding:12px 16px;
border-radius:15px 15px 0px 15px;
margin-bottom:10px;
align-self:flex-end;
max-width:75%;
font-size:16px;
word-wrap:break-word;
}

/* OTHER MESSAGE */

.other-message{
background:#ffffff;
color:#000000;
padding:12px 16px;
border-radius:15px 15px 15px 0px;
margin-bottom:10px;
align-self:flex-start;
max-width:75%;
font-size:16px;
word-wrap:break-word;
}

.sendBox{
display:flex;
padding:12px;
border-top:1px solid #ddd;
background:white;
}

.sendBox input{
flex:1;
padding:14px;
border-radius:10px;
border:1px solid #ccc;
font-size:16px;
}

.sendBox button{
margin-left:10px;
padding:14px;
background:#4e73df;
color:white;
border:none;
border-radius:10px;
}
