body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ece5dd;
}

.header {
  background: #075e54;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  font-size: 12px;
  color: #25d366;
}

.chat-box {
  height: 60vh;
  overflow-y: auto;
  padding: 10px;
}

.message {
  background: white;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 70%;
}

.input-area {
  display: flex;
  padding: 10px;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

button {
  margin-left: 8px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background: #25d366;
  color: white;
  cursor: pointer;
}

.logout-btn {
  background: red;
  }
