body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#1e3c72,#2a5298);
}

.hidden { display: none; }

/* AUTH */

.auth-box {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #2ecc71;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* MAIN APP */

.app-container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 30%;
  background: #111;
  padding: 10px;
  overflow-y: auto;
  color: white;
}

.sidebar div {
  padding: 10px;
  margin: 6px 0;
  background: #222;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar div:hover {
  background: #333;
}

/* CHAT */

.chat-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  background: #ece5dd;
}

.chat-header {
  padding: 15px;
  background: #000;
  color: white;
  font-weight: bold;
}

#typingStatus {
  font-size: 12px;
  margin-left: 10px;
  color: #aaa;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* MESSAGE STYLE */

.my-message {
  background: #2ecc71;
  color: black;
  padding: 10px 14px;
  margin: 6px;
  border-radius: 15px 15px 0 15px;
  width: fit-content;
  align-self: flex-end;
  max-width: 70%;
}

.other-message {
  background: #ffffff;
  color: black;
  padding: 10px 14px;
  margin: 6px;
  border-radius: 15px 15px 15px 0;
  width: fit-content;
  align-self: flex-start;
  max-width: 70%;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #000;
}

.input-area input {
  flex: 1;
  padding: 10px;
}

.input-area button {
  padding: 10px 15px;
  background: #2ecc71;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.logout-btn {
  margin-top: 10px;
  width: 100%;
  background: red;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
