body {
  margin: 0;
  font-family: Arial;
  background: #ece5dd;
}

.hidden { display: none; }

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.center input {
  padding: 10px;
  margin: 5px;
  width: 250px;
}

.center button {
  padding: 10px;
  margin: 5px;
  width: 120px;
  background: #25d366;
  border: none;
  color: white;
}

#mainApp {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background: #fff;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.topBar {
  background: #075e54;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#chatList div {
  padding: 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#chatList div:hover {
  background: #f0f0f0;
}

.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chatHeader {
  background: #075e54;
  color: white;
  padding: 15px;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  padding: 10px;
  margin: 5px 0;
  max-width: 60%;
  border-radius: 10px;
}

.myMessage {
  background: #25d366;
  color: white;
  margin-left: auto;
}

.otherMessage {
  background: white;
}

.inputArea {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

.inputArea input {
  flex: 1;
  padding: 10px;
}
