body {
  margin: 0;
  font-family: Arial;
  background: #ece5dd;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  min-height: 100vh;
  padding: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

button {
  padding: 10px;
  width: 100%;
  background: #25d366;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chatList {
  margin-top: 10px;
}

.chatItem {
  padding: 10px;
  background: #f1f1f1;
  margin-bottom: 5px;
  cursor: pointer;
}

.chatItem:hover {
  background: #ddd;
}

#messages {
  height: 300px;
  overflow-y: auto;
  background: #e5ddd5;
  padding: 10px;
  margin: 10px 0;
}

.msg {
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.you {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: white;
}

.msgInput {
  display: flex;
}

.msgInput input {
  flex: 1;
}

.profileBox {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
