body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#1e3c72,#2a5298);
  color: white;
}

.hidden { display: none; }

.auth-box {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #2ecc71;
  border: none;
  color: white;
  font-weight: bold;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background: #111;
  padding: 10px;
  overflow-y: auto;
}

.sidebar div {
  padding: 10px;
  margin: 5px 0;
  background: #222;
  cursor: pointer;
  border-radius: 8px;
}

.chat-section {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 15px;
  background: #000;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.my-message {
  background: #2ecc71;
  color: black;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  width: fit-content;
  align-self: flex-end;
}

.other-message {
  background: #34495e;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  width: fit-content;
}

.input-area {
  display: flex;
  padding: 10px;
  background: #000;
}

.input-area input {
  flex: 1;
  padding: 10px;
}

.input-area button {
  padding: 10px 15px;
  background: #2ecc71;
  border: none;
  color: black;
  font-weight: bold;
}

.logout-btn {
  margin-top: 10px;
  width: 100%;
  background: red;
  padding: 10px;
  border: none;
  color: white;
}
