body {
  margin: 0;
  font-family: Arial;
  background: #ece5dd;
}

h2 {
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px auto;
  display: block;
  border-radius: 20px;
  border: none;
}

button {
  padding: 8px 15px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  background: #128c7e;
  color: white;
}

#authBox {
  text-align: center;
  margin-top: 60px;
}

.topBar {
  background: #075e54;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.searchBox {
  padding: 10px;
  background: white;
}

#chatList {
  background: white;
  padding: 10px;
}

.chatItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

#messages {
  height: 250px;
  overflow-y: auto;
  background: white;
  padding: 10px;
}

.message {
  margin: 5px 0;
}

.me {
  text-align: right;
  color: green;
}

.sendBox {
  display: flex;
  background: white;
}
