body {
  margin: 0;
  font-family: Arial;
  background: #d6cec4;
}

header {
  background: #0f5c4d;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

button {
  margin: 5px;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background: #2ecc71;
  color: white;
}

#chatList {
  background: white;
  padding: 10px;
}

.chatUser {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#messages {
  height: 200px;
  overflow-y: auto;
  background: white;
  padding: 10px;
}

.message {
  margin: 5px 0;
}
