body{
  margin:0;
  font-family:Arial;
  background:#f0f2f5;
}

.auth-box{
  width:90%;
  max-width:350px;
  margin:100px auto;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.auth-box input{
  width:100%;
  padding:10px;
  margin:5px 0;
}

.auth-box button{
  width:100%;
  padding:10px;
  background:#25D366;
  color:white;
  border:none;
  border-radius:5px;
}

.link{
  color:#25D366;
  cursor:pointer;
  text-align:center;
}

.container{
  display:flex;
  height:100vh;
}

.sidebar{
  width:30%;
  background:#075E54;
  color:white;
  padding:10px;
  overflow-y:auto;
}

.sidebar h3{
  margin-top:0;
}

.user-item{
  padding:10px;
  background:#128C7E;
  margin:5px 0;
  border-radius:5px;
  cursor:pointer;
}

.chat-area{
  width:70%;
  display:flex;
  flex-direction:column;
}

.chat-header{
  background:#075E54;
  color:white;
  padding:15px;
}

.chat-box{
  flex:1;
  padding:10px;
  overflow-y:auto;
}

.message{
  padding:8px;
  margin:5px;
  border-radius:10px;
  max-width:70%;
}

.sent{
  background:#DCF8C6;
  align-self:flex-end;
}

.received{
  background:#fff;
}

.chat-input{
  display:flex;
  padding:10px;
  background:#eee;
}

.chat-input input{
  flex:1;
  padding:10px;
}

.chat-input button{
  padding:10px;
  background:#25D366;
  color:white;
  border:none;
}

.logout-btn{
  margin-top:10px;
  width:100%;
  padding:8px;
  background:red;
  color:white;
  border:none;
  }
