body {
  margin: 0;
  font-family: Arial;
  background: #ece5dd;
}

.authBox {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #25d366;
  border: none;
  color: white;
  cursor: pointer;
}

.linkText {
  color: #25d366;
  cursor: pointer;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.topBar {
  background: #075e54;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100%;
  background: white;
  padding: 20px;
  transition: 0.3s;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

.sidebar.active {
  left: 0;
}

.searchBox {
  padding: 10px;
}

.chatItem {
  padding: 12px;
  background: white;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#messages {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  background: #e5ddd5;
}

.msg {
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.you {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: white;
}

.logoutBtn {
  background: red;
  margin-top: 20px;
  }
